################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/.vs
/downloads
/obj
Tests/bin
Tests/obj
keys
Keys/
Keys/*.json
.env